.vs/MSCApp/v15/.suo
.vs/MSCApp/v15/sqlite3/storage.ide
MSCApp/bin/MSCApp.dll
MSCApp/bin/MSCApp.pdb
MSCApp/bin/MSCBL.dll
MSCApp/bin/MSCBL.pdb
MSCApp/bin/MSCCommon.dll
MSCApp/bin/MSCCommon.pdb
MSCApp/bin/MSCDAL.dll
MSCApp/bin/MSCDAL.pdb
MSCApp/bin/MSCServices.dll
MSCApp/bin/MSCServices.pdb
MSCApp/obj/Debug/MSCAPP.csprojResolveAssemblyReference.cache
MSCApp/obj/Debug/MSCApp.dll
MSCApp/obj/Debug/MSCApp.pdb
MSCBL/bin/Debug/MSCBL.dll
MSCBL/bin/Debug/MSCBL.pdb
MSCBL/bin/Debug/MSCCommon.dll
MSCBL/bin/Debug/MSCCommon.pdb
MSCBL/bin/Debug/MSCDAL.dll
MSCBL/bin/Debug/MSCDAL.pdb
MSCBL/bin/Debug/MSCServices.dll
MSCBL/bin/Debug/MSCServices.pdb
MSCBL/obj/Debug/MSCBL.csprojResolveAssemblyReference.cache
MSCBL/obj/Debug/MSCBL.dll
MSCBL/obj/Debug/MSCBL.pdb
MSCCommon/bin/Debug/MSCCommon.dll
MSCCommon/bin/Debug/MSCCommon.pdb
MSCCommon/obj/Debug/MSCCommon.dll
MSCCommon/obj/Debug/MSCCommon.pdb
MSCDAL/bin/Debug/MSCCommon.dll
MSCDAL/bin/Debug/MSCCommon.pdb
MSCDAL/bin/Debug/MSCDAL.dll
MSCDAL/bin/Debug/MSCDAL.pdb
MSCDAL/bin/Debug/MSCServices.dll
MSCDAL/bin/Debug/MSCServices.pdb
MSCDAL/obj/Debug/MSCDAL.csprojResolveAssemblyReference.cache
MSCDAL/obj/Debug/MSCDAL.dll
MSCDAL/obj/Debug/MSCDAL.pdb
MSCServices/bin/Debug/MSCCommon.dll
MSCServices/bin/Debug/MSCCommon.pdb
MSCServices/bin/Debug/MSCServices.dll
MSCServices/bin/Debug/MSCServices.pdb
MSCServices/obj/Debug/MSCServices.csprojResolveAssemblyReference.cache
MSCServices/obj/Debug/MSCServices.dll
MSCServices/obj/Debug/MSCServices.pdb
