MSCApp\MSCDAL\bin\Debug\MSCDAL.pdb
MSCApp\MSCDAL\bin\Debug\MSCServices.dll
MSCApp\MSCDAL\bin\Debug\MSCServices.pdb
MSCApp\MSCDAL\obj\Debug\MSCDAL.csprojResolveAssemblyReference.cache
MSCApp\MSCDAL\obj\Debug\MSCDAL.dll
MSCApp\MSCDAL\obj\Debug\MSCDAL.pdb
MSCApp\MSCServices\bin\Debug\MSCCommon.dll
MSCApp\MSCServices\bin\Debug\MSCCommon.pdb
MSCApp\MSCServices\bin\Debug\MSCServices.dll
MSCApp\MSCServices\bin\Debug\MSCServices.pdb
MSCApp\MSCServices\obj\Debug\MSCServices.csprojResolveAssemblyReference.cache
MSCApp\MSCServices\obj\Debug\MSCServices.dll
MSCApp\MSCServices\obj\Debug\MSCServices.pdb
