
<div class="content" data-ng-controller="AdminStudentController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <select class="form-control" data-ng-model="student.batchId" name="classstudent" style="margin-top: 18px;" data-ng-change="getStudentByBatchId(student.batchId)">
                        <option selected>--Select Batch--</option>
                        <option ng-repeat="option in batchList" value="{{option.id}}">{{option.name}} ( {{option.gradeName}} )</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <button type="button" rel="tooltip" title="Edit Student Details" class="btn btn-primary pull-right" data-ng-click="addStudent()">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp; Add New Student
                    </button>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">List of Students</h4>
                        <p class="category">Here is a list of all Students</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead class="text-info">
                                <th>Sr.No.</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Batch</th>
                                <!--<th>Course</th>
                                <th>Grade</th>-->
                                <th>Phone Number</th>
                                <th>Address</th>
                                <th>View</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="student in studentList" data-ng-if="studentList.length != 0">
                                    <td>({{$index + 1}})</td>
                                    <td>{{student.name}}</td>
                                    <td>{{student.email}}</td>
                                    <td>{{student.batchName}}</td>
                                    <!--<td>{{student.courseName}}</td>
                                    <td>{{student.gradeName}}</td>-->
                                    <td>{{student.phoneNumber}}</td>
                                    <td>{{student.address}}</td>
                                    <td>
                                        <button type="button" rel="tooltip" title="View Student Details" class="btn btn-primary btn-simple btn-xs" data-ng-click="viewStudent(student)">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" rel="tooltip" title="Edit Student Details" class="btn btn-info btn-simple btn-xs" data-ng-click="editStudent(student)">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" rel="tooltip" title="Delete Student Details" class="btn btn-danger btn-simple btn-xs" data-ng-click="deleteStudent(student)">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr data-ng-if="studentList.length == 0">
                                    <td colspan="9">
                                        <div style="font-weight:bold; color: #f44336; font-size: 14px; text-align: center;">No Student Found.</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


