<div class="content" data-ng-controller="AdminTeacherController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Update Teacher</h4>
                        <p class="category">Update teacher details</p>
                    </div>
                    <div class="card-content">
                        <form name="teacherForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Name</label>
                                        <input type="text" name="teacherName" class="form-control" data-ng-model="teacher.name" required maxlength="30" minlength="4" />
                                        <div ng-messages="teacherForm.teacherName.$error" ng-show="teacherForm.teacherName.$dirty || nameRequired != ''">
                                            <div ng-message="required">Please enter name.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Email</label>
                                        <input type="email" class="form-control" data-ng-model="teacher.email" name="teacherEmail" />
                                        <div ng-messages="teacherForm.teacherEmail.$error" ng-show="teacherForm.teacherEmail.$dirty || emailRequired != ''">
                                            <div ng-message="required">Please enter email.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Password</label>
                                        <input type="password" class="form-control" data-ng-model="teacher.password" name="teacherPassword" />
                                        <div ng-messages="teacherForm.teacherPassword.$error" ng-show="teacherForm.teacherPassword.$dirty || passwordRequired != ''">
                                            <div ng-message="required">Please enter password.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Time Zone</label>
                                        <select class="form-control" data-ng-model="teacher.timeZone" name="classTimeZone">
                                            <option selected>--Select--</option>
                                            <option ng-repeat="option in timeZoneList" value="{{option.name}}">{{option.name}} ( {{option.utcOffset}} )</option>
                                        </select>
                                        <div class="ng-error" ng-show="timeZoneRequired">Please select timezone.</div>

                                        <div ng-messages="teacherForm.teacherTimeZone.$error" ng-show="teacherForm.teacherTimeZone.$dirty || timeZoneRequired != ''">
                                            <div ng-message="required">Please enter timezone.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Phone Number</label>
                                        <input type="text" class="form-control" data-ng-model="teacher.phoneNumber" name="teacherPhoneNumber"
                                               ng-keypress="isValidPhoneNumberFun(teacher.phoneNumber)" ng-keydown="isValidPhoneNumberFun(teacher.phoneNumber)" ng-change="isValidPhoneNumberFun(teacher.phoneNumber)" />
                                        <div ng-messages="teacherForm.teacherPhoneNumber.$error" ng-show="teacherForm.teacherPhoneNumber.$dirty || phoneRequired != ''">
                                            <div ng-message="required">Please enter phone number.</div>
                                        </div>
                                        <div class="ng-active" ng-if="!isValidPhoneNumber">Please enter valid phone number.</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Mobile Number</label>
                                        <input type="text" class="form-control" data-ng-model="teacher.mobileNumber" name="teacherMobileNumber" ng-keypress="isValidMobileNumberFun(teacher.mobileNumber)" ng-keydown="isValidMobileNumberFun(teacher.mobileNumber)" ng-change="isValidMobileNumberFun(teacher.mobileNumber)" />
                                        <div ng-messages="teacherForm.teacherMobileNumber.$error" ng-show="teacherForm.teacherMobileNumber.$dirty || mobileRequired != ''">
                                            <div ng-message="required">Please enter mobile number.</div>
                                        </div>
                                        <div class="ng-active" ng-if="!isValidMobileNumber">Please enter valid mobile number.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label> <input class="radio-btn" type="radio" name="canScheduleClass" value="1" data-ng-model="teacher.canScheduleClass" checked="checked" ng-true-value="1" ng-false-value="0" /> Can Schedule Class</label>

                                        <label> <input class="radio-btn" type="radio" name="canScheduleClass" value="0" ng-true-value="1" ng-false-value="0" data-ng-model="teacher.canScheduleClass" /> Can Not Schedule Class </label>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <div>
                                            <label> <input class="radio-btn" type="radio" name="isActive" value="1" ng-true-value="1" ng-false-value="0" data-ng-model="teacher.isActive" checked="checked" /> Active </label>
                                        </div>
                                        <div>
                                            <label><input class="radio-btn" type="radio" name="isActive" value="0" ng-true-value="1" ng-false-value="0" data-ng-model="teacher.isActive" /> Inactive </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>About The Teacher</label>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Teacher's details</label>
                                            <textarea class="form-control" rows="3" data-ng-model="teacher.aboutTheTeacher"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary pull-right" data-ng-click="updateTeacher()">Save Details</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="../assets/img/faces/user2.png" />
                        </a>
                    </div>
                    <div class="content">
                        <h6 class="category text-gray">Teacher Details</h6>
                        <h4 class="card-title" data-ng-if="teacher.name != ''"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{teacher.name}}</h4>
                        <p class="card-content" data-ng-if="teacher.email != ''"><i class="fa fa-envelope" aria-hidden="true"></i> {{teacher.email}}</p>
                        <p class="card-content" data-ng-if="teacher.phoneNumber != ''"><i class="fa fa-phone-square" aria-hidden="true"></i> {{teacher.phoneNumber}}</p>
                        <p class="card-content" data-ng-if="teacher.mobileNumber != ''"><i class="fa fa-mobile" aria-hidden="true"></i> {{teacher.mobileNumber}}</p>
                        <p class="card-content" data-ng-if="teacher.timeZone != ''"><i class="fa fa-hourglass-half" aria-hidden="true"></i> {{teacher.timeZone}} Time Zone</p>
                        <p class="card-content" data-ng-if="teacher.aboutTheTeacher != ''"><i class="fa fa-address-card" aria-hidden="true"></i> {{teacher.aboutTheTeacher}}</p>
                        <p class="card-content" data-ng-if="teacher.canScheduleClass != ''">

                            <i class="fa fa-check-circle-o" style="color:green;" aria-hidden="true" data-ng-if="teacher.canScheduleClass == 1"></i>
                            <span style="color:green;" data-ng-if="teacher.canScheduleClass == 1">Can Schedule a class</span>
                            <i class="fa fa-times" style="color:red;" aria-hidden="true" data-ng-if="teacher.canScheduleClass == 0"></i>
                            <span style="color:red;" data-ng-if="teacher.canScheduleClass == 0">Can not Schedule a class</span>
                        </p>
                        <a href="#pablo" class="btn btn-primary btn-round">{{teacher.name}} Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


