<div class="col-md-12" data-ng-controller="StudentController">
    <div class="card">
        <div class="card-header" data-background-color="orange">
            <h4 class="title">Running Classes</h4>
            <p class="category">Class which is running live now :</p>
        </div>
        <div class="card-content table-responsive">
            <table class="table">
                <thead class="text-info">
                    <th>Sr No.</th>
                    <th>Title</th>
                    <th>Start Time</th>
                    <th>Duration</th>
                    <th>TimeZone</th>
                    <th>Language Culture</th>
                    <th>Attendee's Link</th>
                    <!--<th>Recording Link</th>-->
                </thead>
                <tbody>
                    <tr data-ng-repeat="studentSession in liveStudentSessionList" data-ng-if="liveStudentSessionList.length > 0">
                        <td>({{$index + 1}})</td>
                        <td>{{studentSession.title}}</td>
                        <td>{{studentSession.startTime}}</td>
                        <td>{{studentSession.duration}} (minutes)</td>
                        <td>{{studentSession.timeZone}}</td>
                        <td>{{studentSession.languageCultureName}}</td>
                        <td>
                            <a href="{{studentSession.attendeeLink}}" title="{{studentSession.attendeeLink}}" target="_blank"> <i class="fa fa-link" aria-hidden="true"></i> Attendee Link</a>
                        </td>
                        <!--<td><a href="{{studentSession.recordingLink}}" title="{{studentSession.recordingLink}}" target="_blank"> <i class="fa fa-link" aria-hidden="true"></i> Recording Link</a></td>-->
                    </tr>
                    <tr data-ng-if="liveStudentSessionList.length == 0">
                        <td colspan="7">
                            <div style="font-weight:bold; color: #f44336; font-size: 14px; text-align: center;">No live classes found.</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-header" data-background-color="red">
            <h4 class="title">Upcoming Classes</h4>
            <p class="category">Class which is running live now :</p>
        </div>
        <div class="card-content table-responsive">
            <table class="table">
                <thead class="text-info">
                    <th>Sr No.</th>
                    <th>Title</th>
                    <th>Start Time</th>
                    <th>Duration</th>
                    <th>TimeZone</th>
                    <th>Language Culture</th>
                    <th>Attendee's Link</th>
                    <!--<th>Recording Link</th>-->
                </thead>
                <tbody>
                    <tr data-ng-repeat="studentSession in upcomingStudentSessionList" data-ng-if="upcomingStudentSessionList.length > 0">
                        <td>({{$index + 1}})</td>
                        <td>{{studentSession.title}}</td>
                        <td>{{studentSession.startTime}}</td>
                        <td>{{studentSession.duration}} (minutes)</td>
                        <td>{{studentSession.timeZone}}</td>
                        <td>{{studentSession.languageCultureName}}</td>
                        <td>
                            <a href="{{studentSession.attendeeLink}}" title="{{studentSession.attendeeLink}}" target="_blank"> <i class="fa fa-link" aria-hidden="true"></i> Attendee Link</a>
                        </td>
                        <!--<td><a href="{{studentSession.recordingLink}}" title="{{studentSession.recordingLink}}" target="_blank"> <i class="fa fa-link" aria-hidden="true"></i> Recording Link</a></td>-->
                    </tr>
                    <tr data-ng-if="upcomingStudentSessionList.length == 0">
                        <td colspan="7">
                            <div style="font-weight:bold; color: #f44336; font-size: 14px; text-align: center;">No upcoming classes found.</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>