
<div class="content" data-ng-controller="StudentController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">My Profile</h4>
                        <p class="category">Your profile details</p>
                    </div>
                    <div class="card-content">
                        <form name="studentForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Name</label>
                                        <input type="text" name="studentName" class="form-control" data-ng-model="student.name" disabled/>                                       
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Email</label>
                                        <input type="email" class="form-control" data-ng-model="student.email" name="studentEmail" disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Phone Number</label>
                                        <input type="text" class="form-control" data-ng-model="student.phoneNumber" name="studentPhoneNumber" disabled/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Time Zone</label>
                                        <input type="text" class="form-control" data-ng-model="student.timeZone" name="studentPassword" disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Batch</label>
                                        <input type="text" class="form-control" data-ng-model="student.batchName" name="studentPassword" disabled/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Course</label>
                                        <input type="text" class="form-control" data-ng-model="student.courseName" name="studentPassword" disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Student's address</label>
                                            <textarea class="form-control" rows="3" data-ng-model="student.address" disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary pull-right" data-ng-click="createStudent()">Save Details</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="../assets/img/faces/user2.png" />
                        </a>
                    </div>
                    <div class="content">
                        <div>
                            <h6 class="category text-gray">Profile Details</h6>
                            <h4 class="card-title" data-ng-if="student.name != ''"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{student.name}}</h4>
                            <p class="card-content" data-ng-if="student.email != ''"><i class="fa fa-envelope" aria-hidden="true"></i> {{student.email}}</p>
                            <p class="card-content" data-ng-if="student.phoneNumber != ''"><i class="fa fa-phone-square" aria-hidden="true"></i> {{student.phoneNumber}}</p>
                            <p class="card-content" data-ng-if="student.timeZone != ''"><i class="fa fa-hourglass-half" aria-hidden="true"></i> {{student.timeZone}} Time Zone</p>
                            <p class="card-content" data-ng-if="student.address != ''"><i class="fa fa-address-card" aria-hidden="true"></i> {{student.address}}</p>
                            <a href="#pablo" class="btn btn-primary btn-round">{{student.name}} Details</a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


