
<div class="content" data-ng-controller="AdminBatchController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!--<label class="pull-left"><input type="checkbox" />  Select All</label>-->
                <button type="button" rel="tooltip" title="Edit Teacher Details" class="btn btn-primary pull-right" data-ng-click="addBatch()">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp; Add New Batch
                </button>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">List of Batches</h4>
                        <p class="category">Here is a list of all Batches</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead class="text-info">
                                <th>Sr.No.</th>
                                <th>Batch</th>
                                <th>Description</th>
                                <th>Grade</th>                               
                                <th>View</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="batch in batchList">
                                    <td>({{$index + 1}})</td>
                                    <td>{{batch.name}}</td>
                                    <td>{{batch.description}}</td>
                                    <td>{{batch.gradeName}}</td>
                                    <td>
                                        <button type="button" rel="tooltip" title="View Teacher Details" class="btn btn-primary btn-simple btn-xs" data-ng-click="viewBatch(batch)">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" rel="tooltip" title="Edit Teacher Details" class="btn btn-info btn-simple btn-xs" data-ng-click="editBatch(batch)">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" rel="tooltip" title="Delete Teacher Details" class="btn btn-danger btn-simple btn-xs" data-ng-click="deleteBatch(batch)">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


