<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <!--<ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        Company
                    </a>
                </li>
                <li>
                    <a href="#">
                        Portfolio
                    </a>
                </li>
                <li>
                    <a href="#">
                        Blog
                    </a>
                </li>
            </ul>-->
        </nav>
        <p class="copyright pull-right">
            &copy;
           2017 <a href="https://mystudycart.com/" title="Click here to visit mystudycart website.">Mystudycart</a>, the online tutoring platform
        </p>
    </div>
</footer>