
<div class="content" data-ng-controller="AdminController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Change Password</h4>
                        <p class="category">Change your password here</p>
                    </div>
                    <div class="card-content">
                        <form name="batchForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Old Password</label>
                                        <input type="text" name="batchName" class="form-control" data-ng-model="password.oldPassword" maxlength="50" minlength="4" required />
                                        <div data-ng-show="nameRequired" class="ng-error">Please Old Password.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">New Password</label>
                                        <input type="text" name="batchName" class="form-control" data-ng-model="password.newPassword" maxlength="50" minlength="4" required />
                                        <div data-ng-show="nameRequired" class="ng-error">Please Enter New Password.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Confirm Password</label>
                                        <input type="text" name="batchName" class="form-control" data-ng-model="batch.confirmPassword" maxlength="50" minlength="4" required />
                                        <div data-ng-show="nameRequired" class="ng-error">Please Confirm Password.</div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right" data-ng-click="changePassword()">Submit</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


