
<div class="content" data-ng-controller="AdminController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Change Password</h4>
                        <p class="category">Change your password here</p>
                    </div>
                    <div class="card-content">
                        <form name="batchForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Old Password</label>
                                        <input type="password" name="oldPassword" class="form-control" data-ng-model="password.oldPassword" required />
                                        <div data-ng-show="oldPasswordRequired" class="ng-error">Please Enter Old Password.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">New Password</label>
                                        <input type="password" name="newPassword" class="form-control" data-ng-model="password.newPassword" required />
                                        <div data-ng-show="newPasswordRequired" class="ng-error">Please Enter New Password.</div>
                                        <div data-ng-show="password.newPassword != '' && password.oldPassword == password.newPassword" class="ng-error">You Can Not Use Old Password As New Password.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Confirm Password</label>
                                        <input type="password" name="confirmPassword" class="form-control" data-ng-model="password.confirmPassword" required />
                                        <div data-ng-show="confirmPasswordRequired" class="ng-error">Please Enter Confirm Password.</div>
                                        <div data-ng-show="password.confirmPassword != '' && password.confirmPassword != password.newPassword" class="ng-error">Password Does Not Match.</div>                                        
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right" data-ng-click="changePassword()">Submit</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


