
<div class="content" data-ng-controller="AdminController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Update Security</h4>
                        <p class="category">View Encryption Decryption</p>
                    </div>
                    <div class="card-content">
                        <form name="batchForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Enter Text To Encrypt</label>
                                        <input type="text" name="batchName" class="form-control" data-ng-model="batch.name" maxlength="50" minlength="4" required />
                                        <div data-ng-show="nameRequired" class="ng-error">Please enter name.</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <button type="submit" class="btn btn-primary pull-right" data-ng-click="createBatch()">Show Encrypted Text</button>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Enter Text To Decrypt</label>
                                        <input type="text" name="batchName" class="form-control" data-ng-model="batch.name" maxlength="50" minlength="4" required />
                                        <div data-ng-show="nameRequired" class="ng-error">Please enter name.</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <button type="submit" class="btn btn-primary pull-right" data-ng-click="createBatch()">Show Decrypted Text</button>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


